.nav-area{
    float: right;
    list-style: none;
    margin-top: 10px;
}
.header-contaner{
    display: inline-block;
}
.nav-area .navBar {
color: #fff;
text-decoration: none;
padding: 5px 20px;
font-family: poppins;
font-size: 16px;
text-transform: uppercase;
display: inline-block;
}
.nav-area .navBar:hover{
    background: rgba(255, 255, 255, 0.952);
    color: #333;
}
.logout-button{
    
    padding-left: 20px;  
}
